## data.table package
- The data.table R package provides an enhanced version of data.frame that allows you to do blazing fast data manipulations.
- data.table package with the goal of reducing programming and compute time
- working with large datasets (e.g. 1GB to 100GB in RAM)
- data.table package has a number of operations such as selection. grouping, chaining, setting keys which are extremely fast compared to the data frame  
**fread function:**     
_cheatsheet from datacamp available here:_ https://s3.amazonaws.com/assets.datacamp.com/img/blog/data+table+cheat+sheet.pdf     
_watch Video of data.table:_  
https://www.youtube.com/watch?v=Z0gZuh5xsuo&feature=youtu.be&t=12s
<img src = "images/syntax1.jpg"/>
<img src = "images/syntax2.jpg"/>

In [8]:
# coding
DF <- data.frame(id = c(1, 1, 1, 2, 2), code = c("abc", "abc", "abd", "apq", "apq"), 
    valA = c(0.1, 0.6, 1.5, 0.9, 0.3), valB = c(11, 7, 5, 10, 13))
print(DF)

  id code valA valB
1  1  abc  0.1   11
2  1  abc  0.6    7
3  1  abd  1.5    5
4  2  apq  0.9   10
5  2  apq  0.3   13

write R script for below pseudocode  
` for code! = "abd"
get sum(valA) `

In [14]:
sum(DF[DF$code!= "abd", "valA"])

[1] 1.9

write R script for below pseudocode  
  
` for code!= "abd"
get suma(valA) and sum(valB)
for each id `

In [23]:
aggregate(cbind(valA, valB)~id, DF[DF$code!="abd",], sum)

  id valA valB
1 1  0.7  18
2 2  1.2  23

In [20]:
cbind(DF$valA, DF$valB)

     [,1] [,2]
[1,] 0.1  11
[2,] 0.6   7
[3,] 1.5   5
[4,] 0.9  10
[5,] 0.3  13

In [21]:
DF[DF$code!="abd",]

  id code valA valB
1 1  abc  0.1  11
2 1  abc  0.6   7
4 2  apq  0.9  10
5 2  apq  0.3  13

write R script for below pseudocode  
`for code == "abd"
update valA
with NA`

In [28]:
DF[DF$code == "abd", "valA"] <- NA

In [27]:
print(DF)

  id code valA valB
1  1  abc  0.1   11
2  1  abc  0.6    7
3  1  abd   NA    5
4  2  apq  0.9   10
5  2  apq  0.3   13